<h1>Register</h1>

<form>
<fieldset>
<legend>ФИО:</legend>
  <label>
    Имя:
    <input type="text" name="firstName" />
  </label>
  <br />
  <label>
    Фамилия:
    <input type="text" name="lastName" />
  </label>

  <br />
</fieldset>

<fieldset>
  <legend>Мылко</legend>

  <label>
    мыло:
    <input type="text" name="email" />
  </label>

  <br />

  <label>
    мыло (еще раз):
    <input type="text" name="cemail" />
  </label>
  <br />
</fieldset>

<fieldset>
  <legend>Паролька</legend>

  <label>
    Паролька:
    <input type="password" name="password" />
  </label>

  <br />

  <label>
    Паролька (еще раз):
    <input type="password" name="cpassword" />
  </label>
</fieldset>

<p>
  <input type="submit" value="Зарегаться"/>
</p>
</form>
